# Analise - Final

## Biblioteca

In [1]:
# Biblioteca 
import pandas as pd 
import numpy as np 
import json
from database import *

## Função de deflação

In [2]:
def deflação(serie,ano_base):
    IPCA = {'1980':99.2504889542286,'1981':95.6230442372937,'1982':104.790433277431,'1983':164.01202400196,'1984':215.263325738616,'1985':242.229795207366,'1986':79.6644968645082,'1987':363.411523705732,'1988':980.213487131888,'1989':1972.91162333472,'1990':1620.96646812495,'1991':472.6999999996,'1992':1119.10075082943,'1993':2477.14712129698,'1994':916.46,'1995':22.4081616590914,'1996':9.56495181758998,'1997':5.22431853525425,'1998':1.65497817994227,'1999':8.93978878068851,'2000':5.97459334239816,'2001':7.67343641407332,'2002':12.5302733566877,'2003':9.30051280040003,'2004':7.59949584882642,'2005':5.68922681873509,'2006':3.14151613157687,'2007':4.45765855337372,'2008':5.90272439065465,'2009':4.31165006256784,'2010':5.90868872179453,'2011':6.50335274368017,'2012':5.83859471814745,'2013':5.91068325533108,'2014':6.40747079590815,'2015':10.6730281339751,'2016':6.28798821322138,'2017':2.94742132043471,'2018':3.74558117019155,'2019':4.30615161715953,'2020':4.51745688642451}
    deflac =[]
    for i in serie.index:
        x = (IPCA[i.strftime("%Y")]/IPCA[ano_base])*serie.loc[i]
        deflac.append(x)
        
    return(deflac)

## 1. Receita Municipal total - Região

In [3]:
dados = ReceitasApuração.select(ReceitasApuração.municipio, ClassificaçõesMunicipio.Região,ClassificaçõesMunicipio.IDH,ReceitasApuração.codigo_Municipio, ReceitasApuração.estado, ReceitasApuração.ano, ReceitasApuração.campo,ReceitasApuração.Receitas_realizadas_Bimestre, (ReceitasApuração.Receitas_realizadas_Bimestre/Populacao.populacao_estimada).alias('Receitas_pc')).join(ClassificaçõesMunicipio,on=(ReceitasApuração.municipio == ClassificaçõesMunicipio.Municipio)).join(Populacao,on=(ReceitasApuração.municipio==Populacao.municipio)).where((ReceitasApuração.campo =='RECEITA DE IMPOSTOS LÍQUIDA (I)')|(ReceitasApuração.campo == 'Cota-Parte FPM') | (ReceitasApuração.campo == 'Cota-Parte ITR') | (ReceitasApuração.campo == 'Desoneração ICMS (LC 87/96)') | (ReceitasApuração.campo == 'Cota-Parte ICMS') | (ReceitasApuração.campo == 'Cota-Parte IPI-Exportação') | (ReceitasApuração.campo == 'Cota-Parte IPVA') | (ReceitasApuração.campo == 'TOTAL DAS RECEITAS PARA APURAÇÃO DA APLICAÇÃO EM AÇÕES E SERVIÇOS PÚBLICOS DE SAÚDE (III) = I + II') & (ReceitasApuração.estado == "Ceará")& (Populacao.UF == "CE"))
Apuração= pd.DataFrame(dados.dicts())
Apuração = Apuração[Apuração['estado']=='Ceará']

# Importando dados de Receitas Adicionais
data = ReceitasAdicionais.select(ReceitasAdicionais.municipio, ClassificaçõesMunicipio.Região, ClassificaçõesMunicipio.IDH,ReceitasAdicionais.codigo_Municipio, ReceitasAdicionais.estado, ReceitasAdicionais.ano, ReceitasAdicionais.campo, ReceitasAdicionais.Receitas_realizadas_Bimestre,(ReceitasAdicionais.Receitas_realizadas_Bimestre/Populacao.populacao_estimada).alias('Receitas_pc')).join(ClassificaçõesMunicipio,on=(ReceitasAdicionais.municipio == ClassificaçõesMunicipio.Municipio)).join(Populacao,on=(ReceitasAdicionais.municipio==Populacao.municipio)).where((ReceitasAdicionais.campo=='Provenientes da União')|(ReceitasAdicionais.campo == 'Provenientes dos Estados')| (ReceitasAdicionais.campo== "TOTAL RECEITAS ADICIONAIS PARA FINANCIAMENTO DA SAÚDE") &(ReceitasAdicionais.estado == "Ceará"))
Adicional = pd.DataFrame(data.dicts())
Adicional = Adicional[Adicional['estado']=='Ceará']

In [4]:
Apuração

,municipio,Região,IDH,codigo_Municipio,estado,ano,campo,Receitas_realizadas_Bimestre,Receitas_pc
0,Abaiara,Brejo Santo,Medio,2300101,Ceará,2013,RECEITA DE IMPOSTOS LÍQUIDA (I),337579.0,30.442677
1,Abaiara,Brejo Santo,Medio,2300101,Ceará,2013,RECEITA DE IMPOSTOS LÍQUIDA (I),337579.0,30.071160
2,Abaiara,Brejo Santo,Medio,2300101,Ceará,2013,RECEITA DE IMPOSTOS LÍQUIDA (I),337579.0,29.724297
3,Abaiara,Brejo Santo,Medio,2300101,Ceará,2013,RECEITA DE IMPOSTOS LÍQUIDA (I),337579.0,28.761936
4,Abaiara,Brejo Santo,Medio,2300101,Ceará,2013,RECEITA DE IMPOSTOS LÍQUIDA (I),337579.0,29.089086
...,...,...,...,...,...,...,...,...,...
70212,Várzea Alegre,Farias Brito,Medio,2314003,Ceará,2019,TOTAL DAS RECEITAS PARA APURAÇÃO DA APLICAÇÃO ...,31877700.0,795.708402
70213,Várzea Alegre,Farias Brito,Medio,2314003,Ceará,2019,TOTAL DAS RECEITAS PARA APURAÇÃO DA APLICAÇÃO ...,31877700.0,782.831217
70214,Várzea Alegre,Farias Brito,Medio,2314003,Ceará,2019,TOTAL DAS RECEITAS PARA APURAÇÃO DA APLICAÇÃO ...,31877700.0,788.270772
70215,Várzea Alegre,Farias Brito,Medio,2314003,Ceará,2019,TOTAL DAS RECEITAS PARA APURAÇÃO DA APLICAÇÃO ...,31877700.0,783.158166
70216,Várzea Alegre,Farias Brito,Medio,2314003,Ceará,2019,TOTAL DAS RECEITAS PARA APURAÇÃO DA APLICAÇÃO ...,31877700.0,782.831217

In [5]:
tabela={'Região':[],'2013':[],'2014':[],'2015':[],'2016':[],'2017':[],'2018':[],'2019':[]}
for Região in np.unique(Apuração['Região']):
        tabela['Região'].append(Região)
        for ano in np.unique(Apuração['ano']):
            região = Apuração[(Apuração['Região']==Região) & (Apuração['ano']==ano)]
            numerador = sum(região[região['campo']=='RECEITA DE IMPOSTOS LÍQUIDA (I)']['Receitas_realizadas_Bimestre'])
            tabela[str(ano)].append(round(numerador/1000000,2))

In [6]:
pd.DataFrame(tabela).to_csv("")

,Região,2013,2014,2015,2016,2017,2018,2019
0,Acaraú,95.73,123.62,106.37,159.28,143.66,219.63,255.56
1,Aracati,87.33,108.64,140.65,146.09,183.30,199.97,232.65
2,Baturité,74.33,85.69,84.78,103.72,106.47,145.79,123.54
3,Brejo Santo,112.08,209.22,278.22,284.28,182.02,173.70,223.00
4,Camocim,49.73,53.60,54.55,70.23,62.39,98.25,96.42
5,Canidé,40.31,37.90,46.19,67.97,69.04,71.13,70.00
6,Cariri,8.33,20.49,29.92,15.77,0.00,18.67,19.39
7,Cascavel,204.42,239.35,284.25,306.59,335.53,392.99,415.25
8,Caucaia,1211.56,1891.39,2191.24,1902.77,1754.43,1675.86,1845.40
9,Crateús,120.45,136.46,133.17,428.47,177.34,213.27,242.21
10,Crato,70.55,91.42,104.84,100.96,118.29,164.98,178.68
11,Farias Brito,94.44,108.08,116.16,97.84,146.64,145.77,148.02
12,Fortaleza,8009.45,9676.49,10775.90,11219.64,12420.06,13626.65,14821.71
13,Icó,64.93,86.14,129.53,119.06,93.40,115.38,118.70
14,Iguatú,236.36,249.69,301.44,333.05,278.08,375.82,338.01
15,Itapipoca,148.95,143.86,139.38,190.71,167.29,224.51,255.54
16,Juazeiro do Norte,284.53,349.70,388.97,420.66,629.73,677.42,675.29
17,Limoeiro do Norte,139.94,147.31,144.02,157.68,186.82,252.04,240.92
18,Maracanaú,429.39,544.72,598.35,597.09,659.21,785.34,922.91
19,Quixadá,148.96,153.23,185.82,215.97,206.63,258.55,245.63
20,Russas,75.53,90.29,115.65,101.79,122.33,136.77,143.54
21,Sobral,306.62,401.49,422.86,407.59,534.99,582.61,622.64
22,Sobral,17.46,25.51,25.99,38.39,38.45,43.88,36.94
23,Tauá,61.57,61.56,81.39,86.92,78.48,86.08,90.99
24,Tianguá,74.98,105.29,116.75,153.47,154.89,205.66,177.91

## 2. Receita Municipal total - Região

In [7]:
tabela={'Região':[],'2013':[],'2014':[],'2015':[],'2016':[],'2017':[],'2018':[],'2019':[]}
for Região in np.unique(Apuração['Região']):
        tabela['Região'].append(Região)
        for ano in np.unique(Apuração['ano']):
            região = Apuração[(Apuração['Região']==Região) & (Apuração['ano']==ano)]
            numerador = sum(região[região['campo']=='RECEITA DE IMPOSTOS LÍQUIDA (I)']['Receitas_pc'])
            tabela[str(ano)].append(round(numerador,2))

In [8]:
pd.DataFrame(tabela)

,Região,2013,2014,2015,2016,2017,2018,2019
0,Acaraú,2760.90,3454.89,3259.91,5279.61,5064.56,7430.41,8662.46
1,Aracati,2293.61,3224.44,4120.48,4368.32,5378.34,5657.81,7774.37
2,Baturité,5285.76,5715.75,5780.24,8206.60,7938.52,11472.68,9397.35
3,Brejo Santo,5816.85,9492.16,13139.79,14393.40,8691.72,10313.84,12256.65
4,Camocim,2221.28,1548.54,1735.09,1876.23,1492.34,2604.82,2301.15
5,Canidé,1434.32,1385.44,1871.28,2638.59,3236.95,2857.88,2630.63
6,Cariri,1054.83,2593.73,3787.25,1995.85,0.00,2363.18,2453.42
7,Cascavel,3432.02,4154.59,4522.23,4935.37,5558.32,6668.48,6756.01
8,Caucaia,16618.99,26187.90,30485.70,26333.14,23903.02,22245.76,23835.59
9,Crateús,10524.57,11462.87,10594.22,17013.43,13834.98,15443.19,17331.24
10,Crato,543.37,704.06,807.45,777.52,911.00,1270.57,1376.09
11,Farias Brito,6888.81,7439.10,8289.03,6603.81,9794.03,9454.48,9370.04
12,Fortaleza,9845.62,12465.97,15359.63,18750.53,19512.62,22296.82,25172.07
13,Icó,2896.41,4355.00,5965.99,5357.93,4256.25,5920.17,5591.54
14,Iguatú,41507.03,41156.03,50320.80,57840.18,38091.36,56931.35,57768.66
15,Itapipoca,3171.28,3227.68,2778.54,3881.65,3200.66,5119.22,4636.33
16,Juazeiro do Norte,2861.03,3788.88,3757.69,4311.60,5841.56,7272.97,6562.42
17,Limoeiro do Norte,6320.48,6906.29,6247.89,6719.13,9120.60,11401.17,10584.34
18,Maracanaú,5875.83,7271.59,7611.43,7710.60,8491.57,11564.55,13707.40
19,Quixadá,7186.13,7853.03,9360.20,9002.67,7501.75,11150.60,9135.46
20,Russas,1784.75,2035.20,2772.00,2250.26,2465.65,3044.36,3262.89
21,Sobral,7511.36,8963.56,8995.72,8564.27,11781.36,12561.07,12585.02
22,Sobral,472.65,658.82,706.89,1001.81,992.98,1177.74,993.03
23,Tauá,2192.73,1727.02,2210.20,2160.48,2154.63,2356.01,2597.24
24,Tianguá,1965.23,2676.15,2982.39,3759.85,4040.38,5139.71,4608.82

## 3. Percentual da receita liquida municipal

In [9]:
tabela={'Região':[],'2013':[],'2014':[],'2015':[],'2016':[],'2017':[],'2018':[],'2019':[]}
for Região in np.unique(Apuração['Região']):
        tabela['Região'].append(Região)
        for ano in np.unique(Apuração['ano']):
            try:
                região = Apuração[(Apuração['Região']==Região) & (Apuração['ano']==ano)]
                numerador = sum(região[região['campo']=='RECEITA DE IMPOSTOS LÍQUIDA (I)']['Receitas_realizadas_Bimestre'])
                denominador = sum(região[região['campo']== 'TOTAL DAS RECEITAS PARA APURAÇÃO DA APLICAÇÃO EM AÇÕES E SERVIÇOS PÚBLICOS DE SAÚDE (III) = I + II']['Receitas_realizadas_Bimestre'])
                tabela[str(ano)].append(numerador/denominador)
            except:
                tabela[str(ano)].append(0)

In [10]:
pd.DataFrame(tabela)

,Região,2013,2014,2015,2016,2017,2018,2019
0,Acaraú,0.082276,0.096468,0.080206,0.106673,0.096672,0.127473,0.126964
1,Aracati,0.120425,0.131413,0.156279,0.141528,0.174345,0.176188,0.194097
2,Baturité,0.084222,0.091633,0.086859,0.096209,0.095792,0.121353,0.095848
3,Brejo Santo,0.098857,0.153860,0.190690,0.193172,0.136189,0.128477,0.140808
4,Camocim,0.067654,0.065692,0.062033,0.068537,0.068682,0.091972,0.082319
5,Canidé,0.062631,0.054984,0.061396,0.078222,0.081437,0.079740,0.072976
6,Cariri,0.100300,0.202223,0.249412,0.186197,0.000000,0.175174,0.163538
7,Cascavel,0.113104,0.122522,0.137136,0.133703,0.149644,0.159031,0.164809
8,Caucaia,0.405516,0.533273,0.559713,0.454861,0.413929,0.382411,0.381775
9,Crateús,0.072578,0.075832,0.069429,0.166654,0.081446,0.092814,0.098368
10,Crato,0.149101,0.172769,0.180301,0.188666,0.175409,0.226949,0.216459
11,Farias Brito,0.069356,0.070197,0.073916,0.057569,0.087888,0.083368,0.079062
12,Fortaleza,0.401183,0.425458,0.443066,0.435704,0.451800,0.456697,0.458038
13,Icó,0.072268,0.086952,0.120823,0.102735,0.084811,0.095227,0.093198
14,Iguatú,0.147987,0.143896,0.163846,0.161510,0.149653,0.168922,0.166247
15,Itapipoca,0.115956,0.105240,0.094083,0.112267,0.100157,0.122629,0.128786
16,Juazeiro do Norte,0.154143,0.169092,0.175250,0.175552,0.249770,0.255143,0.232711
17,Limoeiro do Norte,0.101666,0.096137,0.090829,0.088739,0.104872,0.127367,0.111543
18,Maracanaú,0.127859,0.143838,0.153013,0.138191,0.150177,0.166020,0.179886
19,Quixadá,0.092567,0.089285,0.101807,0.105352,0.101135,0.119729,0.110176
20,Russas,0.076649,0.083947,0.100244,0.079666,0.096446,0.099108,0.102258
21,Sobral,0.085312,0.099908,0.099314,0.088090,0.109026,0.113462,0.111577
22,Sobral,0.055194,0.069953,0.068659,0.086834,0.090121,0.091682,0.079479
23,Tauá,0.127938,0.179376,0.143562,0.134870,0.123484,0.126478,0.132280
24,Tianguá,0.060539,0.076250,0.080659,0.091023,0.092370,0.115032,0.096037

### 4. Percentual da receita Liquida - IDH

In [11]:
tabela={'IDH':[],'2013':[],'2014':[],'2015':[],'2016':[],'2017':[],'2018':[],'2019':[]}
for IDH in np.unique(Apuração['IDH']):
        tabela['IDH'].append(IDH)
        for ano in np.unique(Apuração['ano']):
            try:
                região = Apuração[(Apuração['IDH']==IDH) & (Apuração['ano']==ano)]
                numerador = sum(região[região['campo']=='RECEITA DE IMPOSTOS LÍQUIDA (I)']['Receitas_realizadas_Bimestre'])
                denominador = sum(região[região['campo']== 'TOTAL DAS RECEITAS PARA APURAÇÃO DA APLICAÇÃO EM AÇÕES E SERVIÇOS PÚBLICOS DE SAÚDE (III) = I + II']['Receitas_realizadas_Bimestre'])
                tabela[str(ano)].append(numerador/denominador)
            except:
                tabela[str(ano)].append(0)

In [12]:
pd.DataFrame(tabela)

,IDH,2013,2014,2015,2016,2017,2018,2019
0,Alto,0.185502,0.216039,0.225534,0.232441,0.242612,0.265829,0.278702
1,Baixo,0.057167,0.056104,0.054770,0.050651,0.067792,0.074898,0.061112
2,Baixo,0.062892,0.059039,0.057568,0.062331,0.065432,0.071106,0.064089
3,Medio,0.257529,0.285958,0.300688,0.287357,0.296782,0.302661,0.302928

### 5. Receita total per capita

In [13]:
tabela={'IDH':[],'2013':[],'2014':[],'2015':[],'2016':[],'2017':[],'2018':[],'2019':[]}
for IDH in np.unique(Apuração['IDH']):
        tabela['IDH'].append(IDH)
        for ano in np.unique(Apuração['ano']):
            try:
                região = Apuração[(Apuração['IDH']==IDH) & (Apuração['ano']==ano)]
                numerador = sum(região[região['campo']=='TOTAL DAS RECEITAS PARA APURAÇÃO DA APLICAÇÃO EM AÇÕES E SERVIÇOS PÚBLICOS DE SAÚDE (III) = I + II']['Receitas_pc'])
                tabela[str(ano)].append(numerador)
            except:
                tabela[str(ano)].append(0)

In [14]:
pd.DataFrame(tabela)

,IDH,2013,2014,2015,2016,2017,2018,2019
0,Alto,27776.596693,31694.800835,34177.905983,3.913638e+04,4.143589e+04,4.626747e+04,5.069616e+04
1,Baixo,272403.660207,301840.453627,319604.050793,3.559808e+05,3.369692e+05,3.733330e+05,3.936410e+05
2,Baixo,39519.180326,43116.488058,46711.044349,5.322483e+04,5.012924e+04,5.099521e+04,5.660433e+04
3,Medio,818558.329543,908389.303603,966217.278122,1.064758e+06,1.049929e+06,1.140854e+06,1.234189e+06

### 6. Transferências da União e Estado 
#### 6.1 Transferências da União

In [15]:
tabela={'Região':[],'2013':[],'2014':[],'2015':[],'2016':[],'2017':[],'2018':[],'2019':[]}
for Região in np.unique(Apuração['Região']):
        tabela['Região'].append(Região)
        for ano in np.unique(Apuração['ano']):
            try:
                região = Apuração[(Apuração['Região']==Região) & (Apuração['ano']==ano)]
                numerador = sum(região[região['campo']=="Cota-Parte FPM"]['Receitas_realizadas_Bimestre']) + sum(região[região['campo']=="Cota-Parte ITR"]['Receitas_realizadas_Bimestre']) + sum(região[região['campo']=="Desoneração ICMS (LC 87/96)"]['Receitas_realizadas_Bimestre'])
                denominador = sum(região[região['campo']== 'TOTAL DAS RECEITAS PARA APURAÇÃO DA APLICAÇÃO EM AÇÕES E SERVIÇOS PÚBLICOS DE SAÚDE (III) = I + II']['Receitas_realizadas_Bimestre'])
                tabela[str(ano)].append(numerador/denominador)
            except:
                tabela[str(ano)].append(0)

In [16]:
pd.DataFrame(tabela)

,Região,2013,2014,2015,2016,2017,2018,2019
0,Acaraú,0.776536,0.756035,0.783670,0.777950,0.745472,0.700703,0.641811
1,Aracati,0.542265,0.534959,0.519368,0.525416,0.468218,0.465444,0.467969
2,Baturité,0.930332,0.940775,0.947605,0.942052,0.909664,0.887618,0.878596
3,Brejo Santo,0.888631,0.806849,0.797225,0.831330,0.840657,0.830885,0.820309
4,Camocim,0.741434,0.738763,0.731536,0.721270,0.699749,0.683592,0.679008
5,Canidé,0.784941,0.780621,0.779761,0.771885,0.742660,0.741908,0.723717
6,Cariri,0.454001,0.474592,0.426364,0.566137,0.000000,0.440286,0.429681
7,Cascavel,0.646106,0.652793,0.662279,0.682606,0.655755,0.641546,0.639360
8,Caucaia,0.493867,0.446227,0.425237,0.457581,0.419290,0.431903,0.421083
9,Crateús,0.887726,0.883024,0.863447,0.780558,0.853395,0.831563,0.836814
10,Crato,0.550303,0.515180,0.520169,0.533201,0.530204,0.483973,0.502907
11,Farias Brito,0.819000,0.786250,0.810576,0.850988,0.799680,0.797400,0.789112
12,Fortaleza,0.228945,0.222260,0.217733,0.236434,0.213872,0.212057,0.210796
13,Icó,0.861455,0.844728,0.827161,0.856842,0.873436,0.849906,0.841862
14,Iguatú,0.822883,0.817525,0.815544,0.828889,0.814099,0.808913,0.814271
15,Itapipoca,0.690699,0.706962,0.696419,0.684465,0.655865,0.631268,0.628478
16,Juazeiro do Norte,0.628035,0.608508,0.600728,0.627343,0.526097,0.515564,0.538409
17,Limoeiro do Norte,0.720890,0.699812,0.711282,0.718258,0.677729,0.642282,0.658710
18,Maracanaú,0.518339,0.490948,0.461562,0.510806,0.476370,0.472305,0.471378
19,Quixadá,0.758773,0.772978,0.776962,0.790841,0.759982,0.742858,0.722148
20,Russas,0.651041,0.649708,0.646610,0.671475,0.620434,0.615013,0.615446
21,Sobral,0.601156,0.601467,0.597003,0.617854,0.582490,0.592728,0.588628
22,Sobral,0.782654,0.780461,0.779257,0.778561,0.725921,0.722488,0.704734
23,Tauá,0.710726,0.535656,0.681222,0.704535,0.680500,0.677129,0.679094
24,Tianguá,0.703007,0.707033,0.709661,0.703576,0.670969,0.659469,0.673032

#### 6.2 Transferências do Estado

In [17]:
tabela={'Região':[],'2013':[],'2014':[],'2015':[],'2016':[],'2017':[],'2018':[],'2019':[]}
for Região in np.unique(Apuração['Região']):
        tabela['Região'].append(Região)
        for ano in np.unique(Apuração['ano']):
            try:
                região = Apuração[(Apuração['Região']==Região) & (Apuração['ano']==ano)]
                numerador = sum(região[região['campo']=="Cota-Parte ICMS"]['Receitas_realizadas_Bimestre']) + sum(região[região['campo']=="Cota-Parte IPI-Exportação"]['Receitas_realizadas_Bimestre']) + sum(região[região['campo']=="Cota-Parte IPVA"]['Receitas_realizadas_Bimestre'])
                denominador = sum(região[região['campo']== 'TOTAL DAS RECEITAS PARA APURAÇÃO DA APLICAÇÃO EM AÇÕES E SERVIÇOS PÚBLICOS DE SAÚDE (III) = I + II']['Receitas_realizadas_Bimestre'])
                tabela[str(ano)].append(numerador/denominador)
            except:
                tabela[str(ano)].append(0)

In [18]:
pd.DataFrame(tabela)

,Região,2013,2014,2015,2016,2017,2018,2019
0,Acaraú,0.249857,0.253419,0.250666,0.228740,0.266621,0.268276,0.316612
1,Aracati,0.336099,0.332535,0.323333,0.332054,0.356449,0.358368,0.337935
2,Baturité,0.243285,0.230245,0.226422,0.223216,0.236136,0.246982,0.283520
3,Brejo Santo,0.249639,0.258209,0.238315,0.205249,0.253753,0.290144,0.263460
4,Camocim,0.190238,0.194913,0.205787,0.209567,0.230940,0.224436,0.238673
5,Canidé,0.151856,0.163810,0.158365,0.149459,0.175438,0.178352,0.203307
6,Cariri,0.443971,0.322092,0.323156,0.246912,0.000000,0.384538,0.406780
7,Cascavel,0.391632,0.364300,0.364754,0.359490,0.379246,0.376703,0.390297
8,Caucaia,0.315482,0.288547,0.306178,0.366890,0.431450,0.455563,0.484112
9,Crateús,0.229504,0.233215,0.251666,0.218061,0.255131,0.267399,0.254136
10,Crato,0.299669,0.311239,0.298717,0.277418,0.293707,0.289076,0.280630
11,Farias Brito,0.309873,0.323940,0.306625,0.253003,0.308108,0.285422,0.311154
12,Fortaleza,0.368687,0.351254,0.338255,0.327003,0.333529,0.331246,0.331166
13,Icó,0.223379,0.223783,0.211470,0.202260,0.204663,0.217897,0.220122
14,Iguatú,0.307681,0.310956,0.291978,0.280734,0.283133,0.295449,0.332441
15,Itapipoca,0.192690,0.187208,0.208859,0.202675,0.243351,0.246103,0.242737
16,Juazeiro do Norte,0.289844,0.295815,0.295973,0.274539,0.287995,0.295636,0.294879
17,Limoeiro do Norte,0.258207,0.277675,0.272683,0.265034,0.291133,0.303159,0.305975
18,Maracanaú,0.514690,0.522818,0.526700,0.510244,0.537037,0.529937,0.516719
19,Quixadá,0.264443,0.262041,0.235495,0.223518,0.257520,0.249684,0.266067
20,Russas,0.271369,0.265511,0.252384,0.248063,0.282374,0.285880,0.282296
21,Sobral,0.346117,0.330567,0.337535,0.329124,0.337211,0.323758,0.330706
22,Sobral,0.161642,0.149136,0.151666,0.134239,0.183487,0.185829,0.215787
23,Tauá,0.160821,0.284129,0.174707,0.160155,0.195481,0.196392,0.188625
24,Tianguá,0.235669,0.216075,0.209083,0.204854,0.236095,0.225499,0.230931

### 7. Transferências da União e Estado - IDH
#### 7.1 Transferências da União

In [19]:
tabela={'IDH':[],'2013':[],'2014':[],'2015':[],'2016':[],'2017':[],'2018':[],'2019':[]}
for IDH in np.unique(Apuração['IDH']):
        tabela['IDH'].append(IDH)
        for ano in np.unique(Apuração['ano']):
            try:
                região = Apuração[(Apuração['IDH']==IDH) & (Apuração['ano']==ano)]
                numerador = sum(região[região['campo']=="Cota-Parte FPM"]['Receitas_realizadas_Bimestre']) + sum(região[região['campo']=="Cota-Parte ITR"]['Receitas_realizadas_Bimestre']) + sum(região[região['campo']=="Desoneração ICMS (LC 87/96)"]['Receitas_realizadas_Bimestre'])
                denominador = sum(região[região['campo']== 'TOTAL DAS RECEITAS PARA APURAÇÃO DA APLICAÇÃO EM AÇÕES E SERVIÇOS PÚBLICOS DE SAÚDE (III) = I + II']['Receitas_realizadas_Bimestre'])
                tabela[str(ano)].append(numerador/denominador)
            except:
                tabela[str(ano)].append(0)

In [20]:
pd.DataFrame(tabela)

,IDH,2013,2014,2015,2016,2017,2018,2019
0,Alto,0.400918,0.384343,0.378674,0.391318,0.367941,0.353126,0.342462
1,Baixo,0.770433,0.768873,0.768330,0.783635,0.751739,0.735389,0.748131
2,Baixo,0.953294,0.952094,0.945060,0.957397,0.917906,0.933960,0.940626
3,Medio,0.480678,0.462746,0.457758,0.480850,0.444986,0.439757,0.434720

#### 7.2 Transferências da Estado

In [21]:
tabela={'IDH':[],'2013':[],'2014':[],'2015':[],'2016':[],'2017':[],'2018':[],'2019':[]}
for IDH in np.unique(Apuração['IDH']):
        tabela['IDH'].append(IDH)
        for ano in np.unique(Apuração['ano']):
            try:
                região = Apuração[(Apuração['IDH']==IDH) & (Apuração['ano']==ano)]
                numerador = sum(região[região['campo']=="Cota-Parte ICMS"]['Receitas_realizadas_Bimestre']) + sum(região[região['campo']=="Cota-Parte IPI-Exportação"]['Receitas_realizadas_Bimestre']) + sum(região[região['campo']=="Cota-Parte IPVA"]['Receitas_realizadas_Bimestre'])
                denominador = sum(região[região['campo']== 'TOTAL DAS RECEITAS PARA APURAÇÃO DA APLICAÇÃO EM AÇÕES E SERVIÇOS PÚBLICOS DE SAÚDE (III) = I + II']['Receitas_realizadas_Bimestre'])
                tabela[str(ano)].append(numerador/denominador)
            except:
                tabela[str(ano)].append(0)

In [22]:
pd.DataFrame(tabela)

,IDH,2013,2014,2015,2016,2017,2018,2019
0,Alto,0.412153,0.398380,0.394595,0.375161,0.388429,0.381045,0.378834
1,Baixo,0.211405,0.213851,0.214937,0.204748,0.220069,0.229742,0.232717
2,Baixo,0.238892,0.241318,0.262107,0.237969,0.266974,0.246917,0.243635
3,Medio,0.337794,0.329564,0.320957,0.312332,0.334650,0.334984,0.340698

### 8. Receita adicional total

In [23]:
tabela={'Região':[],'2013':[],'2014':[],'2015':[],'2016':[],'2017':[],'2018':[],'2019':[]}
for Região in np.unique(Adicional['Região']):
        tabela['Região'].append(Região)
        for ano in np.unique(Adicional['ano']):
            try:
                região = Adicional[(Adicional['Região']==Região) & (Adicional['ano']==ano)]
                denominador =  sum(região[região['campo']=='TOTAL RECEITAS ADICIONAIS PARA FINANCIAMENTO DA SAÚDE']['Receitas_realizadas_Bimestre'])
                tabela[str(ano)].append(round(denominador/1000000,2))
            except:
                tabela[str(ano)].append(0)

In [24]:
pd.DataFrame(tabela)

,Região,2013,2014,2015,2016,2017,2018,2019
0,Acaraú,401.32,370.46,349.52,470.15,400.80,408.96,589.57
1,Aracati,272.19,193.11,184.37,241.17,235.11,295.89,332.05
2,Baturité,559.33,359.40,441.20,434.98,437.72,502.14,553.40
3,Brejo Santo,753.86,555.85,482.11,596.93,609.62,674.49,710.05
4,Camocim,350.34,306.11,235.59,352.56,259.41,281.17,344.49
5,Canidé,222.44,152.86,167.21,165.08,172.66,221.61,234.23
6,Cariri,34.36,23.48,23.82,50.86,0.00,17.78,16.26
7,Cascavel,679.49,575.89,687.24,804.90,756.36,927.64,920.24
8,Caucaia,1346.61,847.83,967.90,1056.89,1093.99,1580.28,1407.39
9,Crateús,541.22,682.71,639.80,664.77,703.78,898.58,856.82
10,Crato,315.67,381.81,316.28,444.98,462.32,560.95,577.26
11,Farias Brito,484.81,395.67,410.64,487.59,493.47,601.82,624.64
12,Fortaleza,5306.29,6309.56,6401.66,6953.47,7226.28,7794.05,7946.45
13,Icó,417.64,379.64,363.13,409.80,464.47,464.41,476.49
14,Iguatú,806.98,878.83,902.63,1020.85,946.87,1090.35,1120.68
15,Itapipoca,394.76,457.55,472.19,499.83,613.48,677.45,586.52
16,Juazeiro do Norte,1458.49,1208.63,1299.44,1175.53,1442.72,1591.25,1469.41
17,Limoeiro do Norte,402.13,458.15,407.21,481.14,509.50,602.68,642.58
18,Maracanaú,1111.67,1196.13,1256.10,1450.60,1412.51,1737.33,1733.97
19,Quixadá,604.83,747.61,667.18,724.64,773.71,1049.72,967.76
20,Russas,284.59,351.13,318.75,395.00,413.80,536.14,535.15
21,Sobral,1524.94,1715.48,1662.49,1766.00,1762.04,2089.60,2097.33
22,Sobral,129.25,154.60,140.24,162.79,193.72,191.81,196.21
23,Tauá,189.85,266.13,218.84,303.29,209.79,332.20,328.97
24,Tianguá,376.39,391.86,437.27,501.62,454.83,700.90,582.15

### 9. Receita adicional total

In [25]:
tabela={'Região':[],'2013':[],'2014':[],'2015':[],'2016':[],'2017':[],'2018':[],'2019':[]}
for Região in np.unique(Adicional['Região']):
        tabela['Região'].append(Região)
        for ano in np.unique(Adicional['ano']):
            try:
                região = Adicional[(Adicional['Região']==Região) & (Adicional['ano']==ano)]
                denominador =  sum(região[região['campo']=='TOTAL RECEITAS ADICIONAIS PARA FINANCIAMENTO DA SAÚDE']['Receitas_pc'])
                tabela[str(ano)].append(round(denominador/1000,2))
            except:
                tabela[str(ano)].append(0)

In [26]:
pd.DataFrame(tabela)

               Região    2013    2014    2015    2016    2017    2018    2019
0              Acaraú   11.14   10.72   10.50   13.97   12.08   13.06   18.01
1             Aracati    6.92    6.05    5.94    8.46    8.30    9.57   10.09
2            Baturité   28.81   21.17   24.31   24.40   24.68   31.07   30.61
3         Brejo Santo   41.48   30.01   26.39   34.16   34.02   36.64   36.37
4             Camocim   10.97    8.53    7.23    9.54    6.57    8.43   10.33
5              Canidé    8.15    5.90    6.50    6.65    6.93    9.10    9.44
6              Cariri    4.35    2.97    3.01    6.44    0.00    2.25    2.06
7            Cascavel   10.95   10.68   12.12   14.48   13.11   17.94   16.92
8             Caucaia   16.17   15.30   15.78   18.88   19.37   22.20   23.28
9             Crateús   48.06   53.42   49.29   53.67   49.67   68.24   61.72
10              Crato    2.43    2.94    2.44    3.43    3.56    4.32    4.45
11       Farias Brito   30.48   24.94   26.42   30.96   30.29   37.59   38.32
12          Fortaleza    7.38    7.88    7.75    8.97    8.98    8.89    9.54
13                Icó   21.57   16.65   16.57   19.38   21.89   23.23   22.02
14             Iguatú  107.78  134.81  145.43  163.72  142.90  168.36  186.83
15          Itapipoca    8.98    9.64    9.25    9.92   12.01   14.48   10.92
16  Juazeiro do Norte   26.61   20.83   21.01   18.83   23.97   25.49   25.60
17  Limoeiro do Norte   20.78   23.10   21.93   25.27   26.10   34.39   32.18
18          Maracanaú   19.58   20.17   19.08   23.12   22.60   30.01   29.75
19            Quixadá   30.71   34.44   31.06   37.50   36.31   57.47   45.06
20             Russas    7.08    8.46    7.76   10.13   10.15   12.85   12.37
21             Sobral   38.01   37.47   33.99   38.74   40.25   57.42   52.90
22            Sobral     3.43    4.07    3.74    4.30    5.05    5.01    5.02
23               Tauá    6.12    6.85    5.62    7.54    6.40   10.55   10.04
24            Tianguá   11.53   10.97   11.68   13.12   12.60   21.77   16.02

### 10. Receita adicional percentual
#### União

In [27]:
tabela={'Região':[],'2013':[],'2014':[],'2015':[],'2016':[],'2017':[],'2018':[],'2019':[]}
for Região in np.unique(Adicional['Região']):
        tabela['Região'].append(Região)
        for ano in np.unique(Adicional['ano']):
            try:
                região = Adicional[(Adicional['Região']==Região) & (Adicional['ano']==ano)]
                numerador = sum(região[região['campo']=='Provenientes da União']['Receitas_realizadas_Bimestre']) 
                denominador =  sum(região[região['campo']=='TOTAL RECEITAS ADICIONAIS PARA FINANCIAMENTO DA SAÚDE']['Receitas_realizadas_Bimestre'])
                tabela[str(ano)].append(numerador/denominador)
            except:
                tabela[str(ano)].append(0)

In [28]:
pd.DataFrame(tabela)

,Região,2013,2014,2015,2016,2017,2018,2019
0,Acaraú,0.991199,0.977887,0.957766,0.829637,0.976145,0.986678,0.895370
1,Aracati,0.852377,0.871840,0.859647,0.886650,0.856186,0.976095,0.902704
2,Baturité,0.894741,0.950292,0.900743,0.958257,0.945929,0.938630,0.926806
3,Brejo Santo,0.945220,0.910207,0.984943,0.991543,0.984142,0.991738,0.993788
4,Camocim,0.986128,0.818790,0.886760,0.880226,0.907130,0.999607,0.926182
5,Canidé,0.946696,0.970412,0.932598,0.996034,0.970716,0.988739,0.937232
6,Cariri,0.996170,0.984682,0.969503,0.996853,0.000000,0.988656,0.990498
7,Cascavel,0.991907,0.893136,0.961475,0.953895,0.912065,0.950796,0.965407
8,Caucaia,0.920764,0.920124,0.904627,0.916414,0.936196,0.827397,0.954140
9,Crateús,0.989898,0.899995,0.904428,0.976121,0.921882,0.919166,0.943935
10,Crato,0.909124,0.834223,0.994715,0.799236,0.852724,0.832944,0.855504
11,Farias Brito,0.972406,0.936800,0.975290,0.936948,0.932698,0.941975,0.991500
12,Fortaleza,0.963240,0.924666,0.913901,0.902206,0.904356,0.882900,0.920354
13,Icó,0.974020,0.954554,0.859431,0.916816,0.915198,0.929214,0.900487
14,Iguatú,0.987100,0.861912,0.813295,0.908004,0.896056,0.986721,0.996861
15,Itapipoca,0.962681,0.906176,0.976647,0.923283,0.918484,0.928500,0.922534
16,Juazeiro do Norte,0.975863,0.952933,0.951054,0.985202,0.893929,0.967607,0.973980
17,Limoeiro do Norte,0.910381,0.869658,0.936917,0.934755,0.891623,0.878220,0.907129
18,Maracanaú,0.963361,0.895069,0.925534,0.943995,0.924393,0.930848,0.940643
19,Quixadá,0.929248,0.831351,0.896158,0.960674,0.899458,0.860025,0.849205
20,Russas,0.992389,0.872638,0.968780,0.993373,0.909719,0.978537,0.981426
21,Sobral,0.968785,0.902197,0.927867,0.932416,0.935113,0.907333,0.932960
22,Sobral,0.856485,0.744592,0.877226,0.904522,0.914367,0.889546,0.816803
23,Tauá,0.948415,0.650153,0.998943,0.810439,1.000000,0.870621,0.916143
24,Tianguá,0.969156,0.932460,0.883416,0.892849,0.975004,0.812277,0.935059

#### Estado

In [29]:
tabela={'Região':[],'2013':[],'2014':[],'2015':[],'2016':[],'2017':[],'2018':[],'2019':[]}
for Região in np.unique(Adicional['Região']):
        tabela['Região'].append(Região)
        for ano in np.unique(Adicional['ano']):
            try:
                região = Adicional[(Adicional['Região']==Região) & (Adicional['ano']==ano)]
                numerador = sum(região[região['campo']=='Provenientes dos Estados']['Receitas_realizadas_Bimestre']) 
                denominador =  sum(região[região['campo']=='TOTAL RECEITAS ADICIONAIS PARA FINANCIAMENTO DA SAÚDE']['Receitas_realizadas_Bimestre'])
                tabela[str(ano)].append(numerador/denominador)
            except:
                tabela[str(ano)].append(0)

In [30]:
pd.DataFrame(tabela)

,Região,2013,2014,2015,2016,2017,2018,2019
0,Acaraú,0.000335,0.017321,0.006182,0.029513,0.019616,0.010805,0.103812
1,Aracati,0.143520,0.119934,0.125977,0.105831,0.138101,0.019541,0.096249
2,Baturité,0.100908,0.045760,0.093530,0.036623,0.051534,0.059033,0.070863
3,Brejo Santo,0.045514,0.078474,0.001192,0.004117,0.008489,0.004193,0.004915
4,Camocim,0.004260,0.096307,0.070287,0.114130,0.065980,0.000348,0.007444
5,Canidé,0.023046,0.025532,0.032418,0.000000,0.022484,0.008734,0.060867
6,Cariri,0.000000,0.000000,0.010971,0.000031,0.000000,0.000000,0.000000
7,Cascavel,0.003324,0.054990,0.032391,0.038391,0.081441,0.047736,0.032587
8,Caucaia,0.076399,0.073913,0.077208,0.067286,0.054047,0.006003,0.037372
9,Crateús,0.003465,0.087673,0.070817,0.016288,0.074887,0.079347,0.050703
10,Crato,0.087481,0.162770,0.000000,0.194420,0.141128,0.163043,0.139899
11,Farias Brito,0.021596,0.053228,0.013449,0.056215,0.059147,0.056297,0.005863
12,Fortaleza,0.027984,0.068736,0.077787,0.089192,0.090254,0.112439,0.074681
13,Icó,0.019911,0.037546,0.131405,0.080742,0.081823,0.070265,0.067817
14,Iguatú,0.004552,0.127878,0.099160,0.086479,0.099756,0.012097,0.002555
15,Itapipoca,0.009406,0.082030,0.004862,0.062346,0.076708,0.066488,0.075864
16,Juazeiro do Norte,0.013783,0.032707,0.018830,0.000718,0.099436,0.030423,0.024782
17,Limoeiro do Norte,0.081800,0.114664,0.050697,0.060243,0.102590,0.099787,0.092573
18,Maracanaú,0.032975,0.094559,0.054959,0.047053,0.067451,0.066447,0.046433
19,Quixadá,0.064028,0.115143,0.096049,0.035932,0.099591,0.076069,0.071273
20,Russas,0.003973,0.118066,0.000792,0.001182,0.085587,0.018355,0.016273
21,Sobral,0.025904,0.083305,0.059929,0.057860,0.055242,0.056454,0.055727
22,Sobral,0.122602,0.110030,0.114453,0.092878,0.085633,0.104804,0.081340
23,Tauá,0.027850,0.287035,0.000898,0.186024,0.000000,0.128652,0.083711
24,Tianguá,0.021150,0.007724,0.085605,0.098915,0.011371,0.055095,0.062361

### 10. Receita adicional percentual IDH
#### 10.1 União

In [31]:
tabela={'IDH':[],'2013':[],'2014':[],'2015':[],'2016':[],'2017':[],'2018':[],'2019':[]}
for IDH in np.unique(Adicional['IDH']):
        tabela['IDH'].append(IDH)
        for ano in np.unique(Adicional['ano']):
            try:
                região = Adicional[(Adicional['IDH']==IDH) & (Adicional['ano']==ano)]
                numerador = sum(região[região['campo']=='Provenientes da União']['Receitas_realizadas_Bimestre']) 
                denominador =  sum(região[região['campo']=='TOTAL RECEITAS ADICIONAIS PARA FINANCIAMENTO DA SAÚDE']['Receitas_realizadas_Bimestre'])
                tabela[str(ano)].append(numerador/denominador)
            except:
                tabela[str(ano)].append(0)

In [32]:
pd.DataFrame(tabela)

,IDH,2013,2014,2015,2016,2017,2018,2019
0,Alto,0.978492,0.888581,0.929945,0.890940,0.903972,0.892485,0.897246
1,Baixo,0.980803,0.958379,0.951366,0.980484,0.975415,0.886122,0.968566
2,Baixo,0.965920,0.980859,0.920564,0.993110,0.981550,0.917326,0.986560
3,Medio,0.953900,0.901087,0.916822,0.919436,0.911914,0.911307,0.932522

#### 10.1 Estado

In [33]:
tabela={'IDH':[],'2013':[],'2014':[],'2015':[],'2016':[],'2017':[],'2018':[],'2019':[]}
for IDH in np.unique(Adicional['IDH']):
        tabela['IDH'].append(IDH)
        for ano in np.unique(Adicional['ano']):
            try:
                região = Adicional[(Adicional['IDH']==IDH) & (Adicional['ano']==ano)]
                numerador = sum(região[região['campo']=='Provenientes dos Estados']['Receitas_realizadas_Bimestre']) 
                denominador =  sum(região[região['campo']=='TOTAL RECEITAS ADICIONAIS PARA FINANCIAMENTO DA SAÚDE']['Receitas_realizadas_Bimestre'])
                tabela[str(ano)].append(numerador/denominador)
            except:
                tabela[str(ano)].append(0)

In [34]:
pd.DataFrame(tabela)

,IDH,2013,2014,2015,2016,2017,2018,2019
0,Alto,0.020341,0.105997,0.060086,0.098771,0.086772,0.103417,0.097794
1,Baixo,0.010458,0.029200,0.008469,0.013091,0.019887,0.024061,0.013869
2,Baixo,0.008322,0.014099,0.030982,0.001813,0.015309,0.080022,0.012663
3,Medio,0.037908,0.081054,0.066663,0.068728,0.081927,0.069853,0.057615